<% genders = ["Male", "Female"] %>
<div class="row register-wrapp d-flex justify-content-center align-items-center">
  <div class="w-50 mx-auto">
    <div class="register-card">
      <div class="card-body p-5">
        <h5 class="fs-2 text-center pb-3">Register</h5>
        <%= form_with(model: @author, class: "d-flex flex-column align-items-center") do |form| %>
          <% if @author.errors.any? %>
            <div class="alert alert-danger" role="alert">
            <div class="error_messages">
              <h2>Form is invalid</h2>
              <ul>
                <% @author.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
            </div>
          <% end %>
          <div class="py-2 register-form-group-item">
            <%= form.label :email %>
            <%= form.text_field :email %>
          </div>
          <div class="py-2 register-form-group-item">
            <%= form.label :first_name %>
            <%= form.text_field :first_name %>
          </div>

          <div class="py-2 register-form-group-item">
            <%= form.label :last_name %>
            <%= form.text_field :last_name %>
          </div>
          <div class="py-2 register-form-group-item">
            <%= form.label :password %>
            <%= form.password_field :password %>
          </div>
          <div class="py-2 register-form-group-item">
            <%= form.label :password_confirmation %>
            <%= form.password_field :password_confirmation %>
          </div>
          <div class="py-2 register-form-group-item">
            <%= form.label :gender %>
            <select name="author[gender]" id="author_gender">
              <option value="">Chose your gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
          <div class="py-2 register-form-group-item">
            <%= form.label :birthday %>
            <%= form.datetime_select :birthday, prompt: {day: 'Choose day', month: 'Choose month', year: 'Choose year'},
              end_year: 1800,  start_year: 2020, discard_hour: true%>
          </div>
          <div class="actions">
            <%= form.submit %>
          </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
