
<script>
  $(function(){
    $("#comments_select").change(function(){
      $('#comments_show').submit()
    })
     $(".edit_comment").click(function(){
      $(this).parent().find('.update_comment').removeClass("invisible")
      $(this).addClass('invisible')
    })
  })
</script>

<form action="<%= post_path(@post) %>" method='get' id='comments_show'>
  <div class='field'>
    <select name='comments_status' class='btn btn-sm btn-primary' id='comments_select'>
      <option <%= @comment_status == 'published' ? 'selected' : '' %> >Published</option>
      <option <%= @comment_status == 'unpublished' ? 'selected' : '' %> >Unpublished</option>
    </select> 
  </div>
</form>

<% @comments.each do |comment| %>
  <div class container>
  <div class="media mb-4">
          <img class="d-flex mr-3 mt-2 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0"><%= comment.author.full_name %></h5>
            <%= comment.body %>
          </div>
           <i> updated <%= distance_of_time_in_words(comment.updated_at, Time.now) %> ago</i>
        </div>
        <button class='btn btn-warning btn-sm edit_comment'>Edit Comment</button>
    <div class='cont add_comment update_comment invisible'>
      <h4>Edit Comment</h4>
      <%= render 'comment_form', comment: comment%>
    </div>
    <% if comment.status == 'unpublished' %>
      <div class='btn btn-info btn-sm'>
        <%= link_to 'Publish Comment', publish_post_comment_path(@post.id, comment.id), method: :post, role: "button", style: "color: white" %>
      </div>
      <div class='btn btn-danger btn-sm'>
      <%= link_to 'Destroy Comment', [comment.post, comment],
                method: :delete,
                data: { confirm: "Are you sure?" }, role: "button", style: "color: white" %>
    </div>
    <% end %>
    
 </div>
 </div>
<% end %>