<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group mb-4" placeholder="Name">
    <%= form.label :name %>
    <%= form.select(:name, options_for_select(Author.pluck(:first_name)))%>

    
   
  </div>

    <div class="field form-control mb-4" placeholder="title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field form-group mb-4" placeholder="content">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field form-control mb-4" placeholder="image">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
