
  <p id="notice"><%= notice %></p>

  <h2 class ="mt-5">Posts</h2>

<%= form_with url: search_posts_path, method: :get, local:true do |f| %>
  <%= f.label :query, "Search for:" %>
  <%= f.text_field :query, id: :q %>
  <%= f.submit "Search" %>
<%end %>
</div>

<table class="table table-dark">
<thead>
      <tr>
        <th scope="col"><h4>Title</h4></th>
        <th class='none' scope="col"><h4>Description</h4></th>
        <th class='none' scope="col"><h4>Content</h4></th>
       
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr>          
          <td><p><b><%= post.title %></b></p></td>
          <td class='none'><p><%= post.author.email || post.author.full_name%></p></td>
          <td class='none'><p><%= post.content %></p></td>
          <td><div class='btn btn-primary'><%= link_to 'Show', post %></div></td>
          
         
       </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Post', new_post_path, class: 'btn btn-success btn-lg ', role: "button", style: "color: white" if current_author  %>
</div>
