<div class="container ">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8-lg-12">

        <h1 class="my-4">Posts
         
        </h1>

        <!-- Blog Post -->
        <% @posts.each do |post| %>
        <div class="card mb-4">
          <%= cl_image_tag(post.image.key, class: "card-img-top", width: 750, height:300) %> 
          <div class="card-body">
            <h2 class="card-title"><%= post.title%></h2>
            <p class="card-text"><%= post.content%></p>
            <%= link_to 'Show', post,role: "button", class: "btn btn-primary" %>
          </div>
          <div class="card-footer text-muted">
            <%= cl_image_tag(@user.avatar.key, class: "mr-3 mt-2 rounded-circle", width: 100, crop: :scale) %>
             Posted by <%= post.author.full_name %> 
          
          </div>
        </div>
         <% end %>

        <!-- Blog Post -->
        
  </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
