

  <!-- Page Content -->
  <div class="container">
 <p id="notice"><%= notice %></p>
    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-12">

        <!-- Title -->
        <h1 class="mt-5 text-center"><%= @post.title %></h1>

        <!-- Author -->
        <div class="d-inline ">
        <p class="lead">
        <%= cl_image_tag(@user.avatar.key, class: "mr-3 mt-2 rounded-circle", width: 100, crop: :scale) %>
        Posted by <%= @post.author.full_name %> 
        
   
        </p>
         
        </div>
    

        <hr>

        <!-- Date/Time -->
       <i>&#9201; updated &nbsp; <%= distance_of_time_in_words(@post.updated_at, Time.now) %> ago</i>
       <i>&#128065; &nbsp; views <%= @post.views_count %> </i>
       <i>&#9997;&nbsp;comments <%= @post.comments.count %></i>

        <hr>

        <!-- Preview Image -->
        <div class ="d-flex justify-content-center"> <%= cl_image_tag(@post.image.key, width: 750, height:300) %></div>

        <hr>

        <!-- Post Content -->
        <p class="lead"><%= @post.name %></p>
        <p><%= @post.content %></p>
        <hr>
        <div class='btn btn-sm btn-dark'><%= link_to 'Back', posts_path %></div>
        <%if logged_in? && current_author.id == @post.author.id %>
      <div class='btn btn-info btn-sm'><%= link_to 'Edit', edit_post_path(@post) %></div> 
    <%end%> 
        
        <h3 class ="mt-2">Leave a comment</h3>
        <!-- Comments Form -->
       <% if logged_in? %>   
    
      <%= render 'comments/comment_form' %>
    <% else %>
     <div class="alert alert-danger" role="alert">
      Only registered user can add comment
    </div>
  <% end %>
        <!-- Single Comment -->
  <%= render 'comments/comments_list' %>
    </div>
    <!-- /.row -->

  </div>


  



